.header {
    background-color: var(--maincolor);
}



.header-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.header-nav {
    color: var(--blackcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 464px;
}

.header-link {
    color: var(--borwnDarl);
}

.header-item {
    color: var(--blackcolor);
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
}

.header-text {
    color: var(--blackcolor);
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

}

.rotate {
    animation-name: rotate;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    top: 100px;
    right: 100px;
    position: relative;
}

.header-btn {
    padding: 16px 0;
    width: 193px;
    border: none;
    border-radius: 100px;
    background-color: var(--dargreen);
    color: var(--whiteWhite);
}

.header-bottom {
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}