@import url('global.css');
@import url('root.css');
@import url('./header.css');
@import url('./section.css');
@import url('./footer.css');
@import url('./comment.css');
@import url('quality.css');